{{ define "main" }}
<div>
  <article role='article'>

      {{ .Content }}






    {{ $section := where .Data.Pages "Section" .Section }}




        <header>
          <h1 class="entry-title">Архивы</h1>
          <p><a href="/podcast-archives.rss" class="archive-rss">RSS всех выпусков</a></p>
        </header>



      <div id="blog-archives">
 {{ range (.Data.Pages.GroupByDate "2006") }}
   <h2>{{ .Key }}</h2>
      {{ range .Pages }}
        {{ partial "archives.html" . }}
      {{ end }}
  {{ end }}
      </div>







  <nav class="pagination">{{ template "_internal/pagination.html" . }}</nav>



</article>
</div>
{{ end }}
